{% extends 'types/base.html' %}
{% load static %}

{% block content %}
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Име</th>
            <th>Кратко име</th>
            <th>Макс редовно легло</th>
            <th>Макс допълнително легло</th>
            <th>Сам в стая</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for type in types %}
            <tr>
                <td>{{type.name}}</td>
                <td>{{type.name_short}}</td>
                <td>{{type.r_bed}}</td>
                <td>{{type.d_bed|default:0}}</td>
                <td>{{type.allow_one_only}}</td>
                <td><a href="{% url 'rooms:type_edit' type.id %}" class="btn btn-sm btn-success">Edit</a></td>
                <td><a href="{% url 'rooms:type_delete' type.id %}" class="btn btn-sm btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
{% block end_script %}
<script src="{% static 'js/js.js' %}" type="text/javascript"></script>
{% endblock end_script %}