<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{title}}</title>
    <style>
        .custom_submit {
            letter-spacing: .2em;
            text-transform: uppercase;
            font-weight: bold;
        }
        .custom_submit:hover {
            color: black;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        {% include 'beds/menu.html' %}
        {% block content %}{% endblock content %}
    </div>
    {% block end_script %}{% endblock end_script %}
</body>
</html>