<nav class="navbar navbar-expand navbar-dark bg-dark my-2">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{menu_class}}">
                <a class="nav-link" href="{% url 'index' %}">Menu</a>
            </li>
            <li class="nav-item {{owner_class}}">
                <a class="nav-link" href="{% url 'rooms:beds' %}">Покажи Леглата</a>
            </li>
            <li class="nav-item {{form_create_class}}">
                <a class="nav-link" href="{% url 'rooms:bed_create' %}">Създаи нов</a>
            </li>
        </ul>
        <!-- login logout -->
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">{{user.username}} / Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>